$font-size: 1.4rem;

$vpadding: $font-size * 0.3;
$hpadding: $vpadding * 1.8;
$hpadding-lg: $hpadding * 4;

$gray: #9b9b9b;
$dark-gray: darken($gray, 15%);
$darker-gray: darken($dark-gray, 15%);
$darkest-gray: darken($darker-gray, 15%);
$light-gray: lighten($gray, 15%);
$lighter-gray: lighten($light-gray, 10%);
$lightest-gray: lighten($lighter-gray, 10%);

$primary-color: #5353a9;
$complementary-color: #ff9635;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 122px;

$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
