@import '~reset-css/reset.css';
@import './variables.scss';
@import './grid.scss';

@import './story-listing.scss';

html {
  font-size: 62.5%;
}

body {
  color: $darkest-gray;
  font-family: Verdana, Geneva, sans-serif;
  // font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size;
}

a {
  text-decoration: none;
}

.main {
  background-color: $lightest-gray;
  margin: $vpadding $hpadding-lg 0;
}
