@import '~reset-css/reset.css';
@import './_variables';
@import './_colour';
@import './_grid';

@import './_nav.scss';
@import './_listing.scss';
@import './_form.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $darkest-gray;
  font-family: Verdana, Geneva, sans-serif;
  font-size: $font-size;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: $font-size * 2.1;
}

b {
  font-weight: bold;
}

.main {
  background-color: $lightest-gray;
  margin: $vpadding $hpadding-lg 0;
}

.hseparator {
  margin: 0 0.5ex;
}

.well {
  margin: $hpadding 0;
  padding: $vpadding-lg $hpadding-lg;
  background-color: fade-out(white, 0.5);
  border: 1px solid $primary-color-light;
  @include round-border($hpadding);
}
